<div class="app-container">
  <div class="sidebar" [class.open]="isOpen" [class.closed]="!isOpen && isMobile">
    <button class="sidebar-toggle" (click)="toggleSidebar()">
      <i class="pi" [ngClass]="isOpen ? 'pi-angle-left' : 'pi-angle-right'"></i>
    </button>

    <div class="logo-container">
      <img src="logo/web/logo_agrotechconnectlblack.png" alt="AgroTech Connect Logo" />
    </div>
    
    

    <ul>
      <li *ngFor="let item of menuItems">
        <a [routerLink]="item.route" (click)="closeSidebar()">
          <i class="pi pi-fw" [ngClass]="item.icon"></i>
          <span>{{ item.label }}</span>
        </a>
      </li>
      <div class="section-divider">
        <span>Estilos</span>
      </div>
      <li>
        <i class="pi pi-hammer"></i>
        <label >Modo Oscuro <p-toggleswitch [(ngModel)]="checked" (click)="toggleDarkMode()" /></label> 
      </li>
      <div class="add-question-btn">
        <p-button label="Añadir pregunta" icon="pi pi-plus-circle" />
      </div>
    </ul>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>