<!-- Componente de registro -->

@if (isVisibleRegister) {
  <auth-register (visibleModalRegister)="goRegister($event)"></auth-register>
}@else if(isVisiblePasswordForgot){
  <auth-forgot-password (visibleModalForgotPassword)="goForgotPassword($event)"></auth-forgot-password>
}@else {
  <p-dialog (onHide)="onDialogHide()" header="Header" [modal]="true" [position]="'bottom'" [dismissableMask]="true" [(visible)]="visible" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <div class="login-modal">
    
      <!-- Título -->
      <h2 class="login-title">Iniciar sesión</h2>
      <p class="login-subtext">
        Al continuar, aceptas nuestro <a href="#">Acuerdo del usuario</a> y confirmas que has entendido
        <a href="#">políticas de seguridad</a>.
      </p>
    
      <!-- Botón Google -->
      <button (click)="loginWithGoogle()" pButton class="social-btn google" label="Continuar con Google" icon="pi pi-google"></button>
    
      <!-- Botón Facebook -->
      <button (click)="loginWithFacebook()" pButton class="social-btn facebook" label="Continuar con Facebook" icon="pi pi-facebook"></button>
    
      <!-- Separador -->
      <div class="divider">
        <span class="divider-text">o</span>
      </div>
    
      <form (ngSubmit)="loginwithEmailandPassword()" [formGroup]="formLogin">
        <!-- Inputs -->
        <div class="input-group">
          <span class="p-float-label">
            <input formControlName="email" id="email" type="text" pInputText />
            <label for="email">Correo electrónico/Nombre de usuario</label>
          </span>
          <div *ngIf="formLogin.get('email')?.invalid && formLogin.get('email')?.touched">
            <p *ngIf="formLogin.get('email')?.errors?.['required']">El campo es obligatorio.</p>
            <p *ngIf="formLogin.get('email')?.errors?.['pattern']">Correo no válido.</p>
          </div>
        </div>
    
        <div class="input-group">
          <span class="p-float-label">
            <input formControlName="password" id="password" type="password" pInputText />
            <label for="password">Contraseña</label>
          </span>
          <div *ngIf="formLogin.get('password')?.invalid && formLogin.get('password')?.touched">
            <p *ngIf="formLogin.get('password')?.errors?.['required']">El campo es obligatorio.</p>
          </div>
        </div>
    
        <p-button type="submit" label="INGRESAR" />
      </form>
    
    
      <!-- Enlaces -->
      <div class="login-footer">
        <a style="cursor: pointer;" (click)="goForgotPassword();">¿Has olvidado tu contraseña?</a>
        <a  style="cursor: pointer;" (click)="goRegister()">¿Es tu primera vez?</a>
      </div>
    </div>
    
    </p-dialog>
}
