<div class="comments-dialog">
  <div class="dialog-content">
    <div class="comments-container" *ngIf="!loadingComments; else loading">
      <div class="comments-list">
        <div *ngFor="let comment of listComment?.data?.data; trackBy: trackByCommentId" class="comment-item">
          <div (click)="goToComment(comment.id, '')" class="comment-main">
            <p-avatar [image]="comment.user.image?.url!"
                     [label]="getAvatarLabel(comment.user)"
                     size="normal"
                     shape="circle"
                     class="comment-avatar"></p-avatar>

            <div class="comment-content">
              <div class="comment-header">
                <strong class="comment-author">
                  {{ comment.user.name }} {{ comment.user.lastname }}
                  <p-tag *ngIf="comment.user.ranges?.[0]?.name"
                        [value]="comment.user.ranges[0].name"
                        [severity]="getRangeSeverity(comment.user.ranges[0].name)"
                        styleClass="user-range-tag">
                  </p-tag>
                </strong>
                <span class="comment-date">{{ comment.created_at }}</span>
              </div>

              <p class="comment-text">{{ comment.comment }}</p>

              <div *ngIf="comment.images.length > 0" class="comment-images">
                <img *ngFor="let image of comment.images"
                     [src]="image.url"
                     [alt]="'Imagen del comentario'"
                     class="comment-image">
              </div>

              <div class="comment-footer">
                <div class="reactions">
                  <span class="positive-reactions">
                    <i class="pi pi-thumbs-up"></i> {{ comment.positive_reactions_count }}
                  </span>
                  <span class="negative-reactions">
                    <i class="pi pi-thumbs-down"></i> {{ comment.negative_reactions_count }}
                  </span>
                </div>
                <span (click)="seeCommentsResponse(comment.id); $event.stopPropagation()" class="replies-count">
                  <i class="pi pi-comments"></i> {{ comment.replies_count }} respuestas
                </span>
              </div>
            </div>


            <p (click)="denuncieComment(comment.id); $event.stopPropagation();"><i class="pi pi-flag" style="font-size: 1rem"> Reportar</i></p>
          </div>

          <!-- Sección de respuestas (acordeón) -->
          <div *ngIf="activeIndex[comment.id]" class="responses-container">
            <div class="response-item" *ngFor="let response of listResponseOfComments[comment.id]?.data; trackBy: trackByResponseId">
              <div (click)="goToComment(response.id, 'replayComment')" class="response-main">
                <p-avatar [image]="response.user.image?.url"
                         [label]="getAvatarLabel(response.user)"
                         size="normal"
                         shape="circle"
                         class="response-avatar"></p-avatar>

                <div class="response-content">
                  <div class="response-header">
                    <strong class="response-author">
                      {{ response.user.name }} {{ response.user.lastname }}
                      <p-tag *ngIf="response.user.ranges?.[0]?.name"
                            [value]="response.user.ranges[0].name"
                            [severity]="getRangeSeverity(response.user.ranges[0].name)"
                            styleClass="user-range-tag">
                      </p-tag>
                    </strong>
                    <span class="response-date">{{ response.created_at }}</span>
                  </div>

                  <p class="response-text">{{ response.comment }}</p>

                  <div *ngIf="response.images.length > 0" class="response-images">
                    <img *ngFor="let image of response.images"
                         [src]="image.url"
                         [alt]="'Imagen de respuesta'"
                         class="response-image">
                  </div>

                  <div class="response-footer">
                    <div class="reactions">
                      <span class="positive-reactions">
                        <i class="pi pi-thumbs-up"></i> {{ response.positive_reactions_count }}
                      </span>
                      <span class="negative-reactions">
                        <i class="pi pi-thumbs-down"></i> {{ response.negative_reactions_count }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <p (click)="denuncieComment(comment.id); $event.stopPropagation();"><i class="pi pi-flag" style="font-size: 1rem"> Reportar</i></p>
            </div>

            <!-- Paginación de respuestas si es necesario -->
            <p-paginator *ngIf="listResponseOfComments[comment.id]?.data?.length! > 0 && listResponseOfComments[comment.id]?.total! > 5"
                        [rows]="5"
                        [totalRecords]="listResponseOfComments[comment.id]?.total"
                        styleClass="response-paginator">
            </p-paginator>
          </div>
        </div>

        <p-paginator *ngIf="listComment?.data?.total! > rows"
                    [rows]="rows"
                    [totalRecords]="listComment?.data?.total"
                    (onPageChange)="onPageChange($event)"
                    [first]="firstComment"
                    styleClass="comment-paginator">
        </p-paginator>

        <p *ngIf="listComment?.data?.data?.length === 0" class="no-comments">
          No hay comentarios aún.
        </p>
      </div>
    </div>

    <div class="new-comment">
      <textarea pInputTextarea
                [(ngModel)]="newComment"
                placeholder="Escribe un comentario..."
                rows="3"></textarea>
      <button pButton
              icon="pi pi-send"
              label="Enviar"
              (click)="postComment()"
              [loading]="postingComment"
              class="send-button">
      </button>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loading-spinner">
    <p-progressSpinner strokeWidth="4" animationDuration=".5s"></p-progressSpinner>
  </div>
</ng-template>