<div class="post-container">
  <!-- Spinner de carga -->
  <div class="loading-spinner" *ngIf="loading">
    <img src="anim/spinnin_loading2.svg" alt="spinning loading">
  </div>


  <!-- Contenido principal -->
  <div *ngIf="!loading && objPublication" class="post-content">
    <!-- Card de la publicación -->
    <p-card class="post-card">
      <!-- Header con información del usuario -->
      <ng-template pTemplate="header">
        <div class="post-header">
          <div class="user-info">
            <p-avatar [image]="objPublication.user.image?.url"
                     [label]="getAvatarLabel(objPublication.user)"
                     size="large"
                     shape="circle"
                     class="user-avatar"></p-avatar>
            <div class="user-details">
              <h3 class="user-name">{{ objPublication.user.name }} {{ objPublication.user.lastname }}</h3>
              <div class="user-meta">
                <p-tag [value]="objPublication.user.ranges?.[0]?.name"
                      [severity]="getRangeSeverity(objPublication.user.ranges?.[0]?.name)"
                      class="user-range"></p-tag>
                <span class="post-date">{{ objPublication.created_at }}</span>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <!-- Contenido del post -->
      <div class="post-body">
        <h2 class="post-title">{{ objPublication.title }}</h2>
        <p class="post-description" [innerHTML]="sanitizeHtml(objPublication?.description!)"></p>

        <!-- Galería de imágenes -->
        <p-galleria *ngIf="objPublication.images.length > 0"
                   [value]="objPublication.images"
                   [responsiveOptions]="responsiveOptions"
                   [containerStyle]="{ 'max-width': '100%' }"
                   [showThumbnails]="false"
                   [showIndicators]="true"
                   [activeIndex]="activeImageIndex"
                   class="post-gallery">
          <ng-template pTemplate="item" let-item>
            <img [src]="item.url"
                 [alt]="objPublication.title"
                 class="post-image" />
          </ng-template>
        </p-galleria>
      </div>

      <!-- Footer con estadísticas -->
      <ng-template pTemplate="footer">
        <div class="post-footer">
          <div class="post-stats">
            <span class="stat-item" (click)="showReactionsDialog()">
              <i class="pi pi-thumbs-up"></i> {{ objPublication.positive_reactions_count }}
            </span>
            <span class="stat-item" (click)="showReactionsDialog()">
              <i class="pi pi-thumbs-down"></i> {{ objPublication.negative_reactions_count }}
            </span>
            <span class="stat-item comment-stat"
                  (click)="toggleCommentsDialog()">
              <i class="pi pi-comments"></i> {{ objPublication.comments_count }}
            </span>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>


<!-- Diálogo de comentarios -->

<p-dialog [(visible)]="displayCommentsDialog" 
          [modal]="true"
          [style]="{ width: '50vw' }"
          [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
          header="Comentarios"
          (onHide)="closeCommentsDialog()">
  <public-comments (closeDialog)="closeCommentsDialog()"  [idPublication]="idPublicacion"></public-comments>
</p-dialog>


<!-- Nuevo diálogo de reacciones -->
<p-dialog [(visible)]="displayReactionsDialog" 
          [modal]="true"
          [style]="{ width: '50vw', maxHeight: '70vh' }"
          [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
          header="Reacciones"
          [draggable]="false"
          [resizable]="false">
  
  <div class="reactions-dialog-content">
    <!-- Spinner de carga -->
    <div class="loading-spinner" *ngIf="loadingReactions">
      <p-progressSpinner strokeWidth="4" animationDuration=".5s"></p-progressSpinner>
    </div>

    <!-- Contenido de reacciones -->
    <div *ngIf="!loadingReactions && reactionsData" class="reactions-content">
      <p-tabView [(activeIndex)]="activeReactionTab">
        <p-tabPanel header="Todas">
          <div class="reactions-list">
            <div *ngFor="let reaction of reactionsData.data.all_reactions" class="reaction-item">
              <p-avatar [image]="reaction.user.image?.url"
                       [label]="getAvatarLabel(reaction.user)"
                       size="large"
                       shape="circle"></p-avatar>
              <div class="reaction-details">
                <span class="user-name">{{ reaction.user.name }} {{ reaction.user.lastname }}</span>
                <span class="reaction-type" [ngClass]="{
                  'positive': reaction.type === 'positive',
                  'negative': reaction.type === 'negative'
                }">
                  {{ reaction.type === 'positive' ? '👍' : '👎' }}
                </span>
                <span class="reaction-date">{{ reaction.created_at | date:'medium' }}</span>
              </div>
            </div>
          </div>
        </p-tabPanel>

        <p-tabPanel [header]="'Positivas (' + reactionsData.data.counts.positive + ')'">
          <div class="reactions-list">
            <div *ngFor="let reaction of reactionsData.data.positive_reactions" class="reaction-item">
              <p-avatar [image]="reaction.user.image?.url"
                       [label]="getAvatarLabel(reaction.user)"
                       size="large"
                       shape="circle"></p-avatar>
              <div class="reaction-details">
                <span class="user-name">{{ reaction.user.name }} {{ reaction.user.lastname }}</span>
                <span class="reaction-date">{{ reaction.created_at | date:'medium' }}</span>
              </div>
            </div>
          </div>
        </p-tabPanel>

        <p-tabPanel [header]="'Negativas (' + reactionsData.data.counts.negative + ')'">
          <div *ngIf="reactionsData.data.negative_reactions.length > 0; else noNegativeReactions">
            <div *ngFor="let reaction of reactionsData.data.negative_reactions" class="reaction-item">
              <p-avatar [image]="reaction.user.image?.url"
                       [label]="getAvatarLabel(reaction.user)"
                       size="large"
                       shape="circle"></p-avatar>
              <div class="reaction-details">
                <span class="user-name">{{ reaction.user.name }} {{ reaction.user.lastname }}</span>
                <span class="reaction-date">{{ reaction.created_at | date:'medium' }}</span>
              </div>
            </div>
          </div>
          <ng-template #noNegativeReactions>
            <div class="no-reactions">
              No hay reacciones negativas
            </div>
          </ng-template>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</p-dialog>