<div class="fondo-personalizado">
  <div class="reset-password-container">
    <div class="logo-container">
      <h1>Restablecer Contraseña</h1>
      <p>Ingresa tu nueva contraseña</p>
    </div>
  
    <form (ngSubmit)="reset_password()" [formGroup]="formPasswordReset">
      <div class="input-group">
        <input formControlName="password" id="new-password" type="password" placeholder=" " required>
        <label for="new-password">Contraseña nueva</label>
          <div class="error-message" *ngIf="formPasswordReset.get('password')?.invalid && formPasswordReset.get('password')?.touched">
            <p *ngIf="formPasswordReset.get('password')?.errors?.['required']">El campo es obligatorio.</p>
            <div *ngIf="formPasswordReset.get('password')?.errors?.['pattern']" class="error-message">
              <strong>Requisitos de contraseña no cumplidos:</strong>
              <ul class="requirements-list">
                <li>Longitud entre 8 y 15 caracteres</li>
                <li>Contener al menos un carácter especial ({{'@'}}, &, $, %)</li>
                <li>Incluir mínimo una letra mayúscula (A-Z)</li>
                <li>Contener al menos un número (0-9)</li>
              </ul>
            </div>
          </div>
      </div>
  
      <div class="input-group">
        <input formControlName="password_confirmation"  id="repeat-password" type="password" placeholder=" " required>
        <label for="repeat-password">Repetir la nueva contraseña</label>
        <div class="error-message" *ngIf="formPasswordReset.get('password_confirmation')?.invalid && formPasswordReset.get('password_confirmation')?.touched">
          <p *ngIf="formPasswordReset.get('password_confirmation')?.errors?.['required']">El campo es obligatorio.</p>
          <p *ngIf="formPasswordReset.get('password_confirmation')?.errors?.['passwordMismatch']">Las contraseñas no coinciden.</p>
        </div>
      </div>
  
      <button type="submit">Cambiar contraseña</button>
    </form>
  
    <div class="footer-links">
      <a routerLink="/menu/publicaciones">Volver al Inicio</a>
    </div>
  </div>
</div>
