
@if(isLoadingRecoveryPassword){
  <div class="loading-overlay">
    <img
      src="anim/spinning_loading-bards_anim.svg"
      alt="Loading..."
      class="responsive-spinner"
    >
  </div>
}

<div class="fondo-personalizado">
  <div class="reset-password-container">
    <div class="logo-container">
      <h1>Restablecer Contraseña</h1>
    </div>

    <form (ngSubmit)="reset_password()" [formGroup]="formPasswordReset">
      <div class="input-group">
        <p-password
        formControlName="password"
        id="new-password"
        [toggleMask]="true"
        [feedback]="false">
        </p-password>
        <label style="color: #000; margin-top: -.4rem;" for="new-password">Contraseña nueva</label>
          <div class="error-message" *ngIf="formPasswordReset.get('password')?.invalid && formPasswordReset.get('password')?.touched">
            <p *ngIf="formPasswordReset.get('password')?.errors?.['required']">El campo es obligatorio.</p>
            <div *ngIf="formPasswordReset.get('password')?.errors?.['pattern']" class="error-message">
              <strong>Requisitos de contraseña no cumplidos:</strong>
              <ul class="requirements-list" *ngIf="password.value">
                <li *ngIf="!lengthValid" [class.valid]="lengthValid">
                  Longitud entre 8 y 15 caracteres
                </li>
                <li *ngIf="!hasSpecialChar" [class.valid]="hasSpecialChar">
                  Contener al menos un carácter especial ({{"@"}}$!%*?&)
                </li>
                <li *ngIf="!hasUpperCase" [class.valid]="hasUpperCase">
                  Incluir mínimo una letra mayúscula (A-Z)
                </li>
                <li *ngIf="!hasNumber" [class.valid]="hasNumber">
                  Contener al menos un número (0-9)
                </li>
              </ul>
            </div>
          </div>
      </div>

      <div class="input-group">
        <p-password
        formControlName="password_confirmation"
        id="repeat-password"
        [toggleMask]="true"
        [feedback]="false">
        </p-password>
        <label style="color: #000; margin-top: -.4rem;" for="repeat-password">Repetir la nueva contraseña</label>
        <div class="error-message" *ngIf="formPasswordReset.get('password_confirmation')?.invalid && formPasswordReset.get('password_confirmation')?.touched">
          <p *ngIf="formPasswordReset.get('password_confirmation')?.errors?.['required']">El campo es obligatorio.</p>
          <p *ngIf="formPasswordReset.get('password_confirmation')?.errors?.['passwordMismatch']">Las contraseñas no coinciden.</p>
        </div>
      </div>

      <button type="submit">Cambiar contraseña</button>
    </form>

    <div class="footer-links">
      <a routerLink="/menu/publicaciones">Volver al Inicio</a>
    </div>
  </div>
</div>
