<div class="perfil-container">
    <div class="perfil-banner">
      <div class="perfil-avatar">
        <img src="img/user/perfil1.png" alt="Avatar" />
      </div>
    </div>
  
    <div class="perfil-contenido">
      <p-tag severity="success" value="INICIADO" class="perfil-estado"></p-tag>
      <h2 class="perfil-nombre">
        Daniel Rojas Agtech <i class="pi pi-star-fill perfil-estrella"></i>
      </h2>
      <p class="perfil-rol">DroneCropXpert</p>
  
      <div class="perfil-metricas">
        <div><i class="pi pi-thumbs-up"></i><span>500</span></div>
        <div><i class="pi pi-comments"></i><span>12</span></div>
        <div><i class="pi pi-users"></i><span>50</span></div>
      </div>
  
      <p-panel class="perfil-sobremi" header="Sobre mí">
        <p>
          Soy un apasionado de la tecnología aplicada al agro. Especialista en el uso de drones para mejorar la eficiencia en cultivos.
        </p>
      </p-panel>
  
      <div class="perfil-social">
        <i class="pi pi-linkedin"> DroneCropXpert</i> 
        <i class="pi pi-youtube"> DroneCropXpert</i> 
      </div>
    </div>
</div>
  