@import "primeicons/primeicons.css";


html.custom-dark-mode {
  --background-color: #25282E !important;
  --text-color: #E0E0E0 !important;
  --button-bg: #2FF77B !important;
  --button-text: #FFFFFF !important;
  --card-bg: #2D3035 !important;
}

html.custom-dark-mode body {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}


html.custom-dark-mode button,
html.custom-dark-mode .p-button {
  background-color: var(--button-bg) !important;
  color: var(--button-text) !important;
  border: 1px solid #555 !important;
}


