@import "primeicons/primeicons.css";



html.custom-dark-mode {
  --background-color: #25282E !important;
  --text-color: #E0E0E0 !important;
  --button-bg: #2FF77B !important;
  --button-text: #FFFFFF !important;
  --card-bg: #2D3035 !important;
}

html.custom-dark-mode body {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}


html.custom-dark-mode button,
html.custom-dark-mode .p-button {
  background-color: var(--button-bg) !important;
  color: var(--button-text) !important;
  border: 1px solid #555 !important;
}

html.custom-dark-mode .p-input-icon-left input {
  border: 1px solid #a6a8a7;
  background: #25282efd;
  border: 1px solid #31353f !important;
}

html.custom-dark-mode .contenedor-principal {
  background: #25282E !important;
}

html.custom-dark-mode  .header-bar {
  margin-right: 1rem; 
  background-color: #25282E !important;
  color: #000 !important;
  font-weight: bold;
  border-radius: 0.5rem;
  border: none;
}

html.custom-dark-mode  .tarjeta-verificacion h2{
  color: #ffffff !important;
}

html.custom-dark-mode  .tarjeta-verificacion p{
  color: #ffffff !important;
}

html.custom-dark-mode .perfil-contenido {
  i,
  p,
  span,
  .p-panel-header {
    color: #ffffff !important;
  }
}



html.custom-dark-mode {
  .swal2-container {
    z-index: 5000;
  }

  .swal2-popup {
    background: rgb(32, 33, 43);
    color: #e2e8f0;
    font-family: "Orbitron Variable", sans-serif;
    border-radius: 2%;
    border: 1px solid rgba(255, 255, 255, 0.1);


    .swal2-title, .swal2-content {
      color: inherit;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    }

    .swal2-icon--warning {
      color: #ec8a12;
      border-color: rgba(246, 173, 85, 0.3);
      background-color: rgba(246, 173, 85, 0.1);
    }

    .swal2-cancel {
      background-color: #576870 !important;
      font-weight: bold;
      border-radius: 8px;
      transition: background-color 0.3s;
    }
  }
}




::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 255, 128, 0.4);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 255, 128, 0.7);
}

/* Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 255, 128, 0.548) transparent;
}

.p-overlay-mask {
  background: none !important;
}