<p-dialog (onHide)="onDialogHide()" header="Header" [modal]="true" [position]="'bottom'" [dismissableMask]="true" [(visible)]="visible2" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
  <div class="login-modal">
  
    <!-- Título -->
    <h2 class="login-title">Recuperación de contraseña</h2>
  
    <form (ngSubmit)="forgotPassword()" [formGroup]="formForgotPassword">
      <div class="input-group">
        <span class="p-float-label">
          <input formControlName="email"  id="email" type="text" pInputText />
          <label for="email">Correo electrónico</label>
        </span>

          <div *ngIf="formForgotPassword.get('email')?.invalid && formForgotPassword.get('email')?.touched">
          <p *ngIf="formForgotPassword.get('email')?.errors?.['required']">El campo es obligatorio.</p>
          <p *ngIf="formForgotPassword.get('email')?.errors?.['pattern']">Correo no válido.</p>
        </div>

      </div>
  

      <p-button type="submit" label="Enviar" />
    </form>
  
  
    <!-- Enlaces -->
    <div class="login-footer">
      <a style="cursor: pointer;" (click)="onDialogHide()">Regresar</a>
    </div>
  </div>
  
</p-dialog>
